# Python virtual environment
.venv/
__pycache__/

# Instance folder (for Flask)
instance/

# Pytest and coverage
.pytest_cache/
.coverage
htmlcov/

# Python-specific files
*.pyc
*.pyo
*.pyd
*.env
*.DS_Store

# IDE and editor specific files
.idea/
.vscode/
*.swp

# Logs and temp files
*.log
*.tmp

# Lock files
*.lock

# System files
Thumbs.db
.DS_Store